.emoji-rate {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  input {
    &:checked {
      + label {
        > svg {
          > circle {
            fill: #ffdd67;
            stroke: #ffdd67;
          }
          > g {
            fill: #664e27;
            transform: perspective(500px) translate3d(0, 0, 0) !important;
          }
        }
        span {
          color: #664e27;
        }
      }
      ~ label {
        > svg {
          > g {
            transform: perspective(500px) translate3d(-5px, 0, -5px);
          }
        }
      }
    }
    display: none;
  }
  label {
    margin: 0 5px;
    padding: 0 5px;
    color: #999;
    > svg {
      display: inline-block;
      width: 1em;
      height: 1em;
      > circle {
        fill: #fff;
        stroke: #999;
        transition: all .5s;
      }
      > g {
        fill: #999;
        transform: perspective(500px) translate3d(5px, 0, 5px);
        transition: all .5s;
      }
    }
    span {
      display: block;
      text-align: center;
      font-size: .4em;
    }
  }
}
